// Importo Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Importo colors
@import 'colors';

// LOGO
// .logo-bnb{

// }

// NAVBAR GUEST
.login-link-1{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.login-link-2{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;    
}

.hover-uline{
    position: relative;
    &:hover::after{
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        height: 2px;
        width: 100%;
        background: $quaternary;
        background: rgb(255, 255, 255);
    }
}

// NAVBAR LOGGED
.bi-person-circle{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

// DROPDOWN MENU
.dropdown-menu{
    text-decoration: none;
}

.dropdown-item{
    &:hover{
        text-decoration: underline;
    }
}

//DASHBOARD
.bordo-gradient{
    border: 4px solid;
    border-image-slice: 1;
    border-width: 4px;
    border-image-source: red;
}


.add-apartment{
    color: $tertiary;
    font-size: 60px;
    transition: rotate 0.5s ease-in-out;
    &:hover{
        rotate: 180deg;

    }

}

.my-apartment{
    color: $tertiary;
    font-size: 60px;
}
